#------------------------------------------------
# Author(s): Geaaru, geaaru@gmail.com
# $Id: 63124022935105ce5339e70706f25d072829cde5 $
#
# Database Release Manager configuration file
#------------------------------------------------

# uncomment this line to turn on debug
#DEBUG=true
MODULES_DIR="${prefix}/share/dbrm/modules"
DRM_DB=$LOCAL_DIR/dbrm.db

MARIADB_DIR="."
MARIADB_USER="{{ mysql_freeradius_user }}"
MARIADB_PWD="{{ mysql_freeradius_pwd }}"
MARIADB_DB="{{ mysql_freeradius_database }}"
MARIADB_HOST="{{ mysql_router_nodes[0] }}.{{ lxd_network_domain }}"
MARIADB_EXTRA_OPTIONS="-P 6446"
#MARIADB_INIT_CMDS="SET sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'"
MARIADB_INIT_CMDS="SET sql_mode='';"

