#
# Author: Daniele Rondina, geaaru@sabayonlinux.org
#

server ap_server {

  authorize {
    update control {
      # Datetime with microsec is used
      &Event-Timestamp-Ms := "%T"
    }

    log_auth

    eap {
      ok = return
      updated = return
    }

    files

    chap

    if (!&Control:Auth-Type) {
      pap
    }

  }

  authenticate {

    Auth-Type PAP {
      pap
    }

    Auth-Type CHAP {
      chap
    }

    Auth-Type EAP {
      eap
    }

  }

  preacct {
    log_accounting
  }

  accounting {
    update control {
      &Event-Timestamp-Ms := "%T"
    }

    {% if mysql_router_nodes|length > 1 %}
      redundant-load-balance {
    {% for node in mysql_router_nodes %}
          sql{{ loop.index }}
    {% endfor %}
      }
    {% else %}
      sql1
    {% endif %}

    ok
  }
  # end accounting

  session {
  }

  pre-proxy {
  }

  post-proxy {
  }

  post-auth {
    if (session-state:User-Name && reply:User-Name && request:User-Name && (reply:User-Name == request:User-Name)) {
      update reply {
      &User-Name !* ANY
      }
    }
    update {
      &reply: += &session-state:
    }

    log_auth_resp

    Post-Auth-Type REJECT {

      # Insert EAP-Failure message if the request was
      # rejected by policy instead of because of an
      # authentication failure
      eap

      {% if mysql_router_nodes|length > 1 %}
        redundant-load-balance {
      {% for node in mysql_router_nodes %}
            sql{{ loop.index }}
      {% endfor %}
        }
      {% else %}
        sql1
      {% endif %}
    }

  }

}

# vim: filetype=config ts=2 sw=2 expandtab
